body
{
background-image: url(white-waves.png);
}
#glowny1
{
	margin-top:20px;
	margin-bottom: 100px;
	width:50%;
	height:740px;
        background-image: url(smog.jpg);
	background-size:cover;
	float: left;
}
#glowny2
{
	
	margin-top:20px;
	margin-bottom: 100px;
	width:50%;
	height:740px;
    background-image: url(kraj.jpg);
	background-size:cover;
	float: left;
}
#zegar
{
	font-family: 'Anton', sans-serif;
	letter-spacing:3px;
	color: #009900;
	text-align:center;
	font-size:20px;
	padding: 5px;
	line-height:300%;
	width:23%;
	height:50px;
	float: left;
}

#tytul
{
    font-family: 'Charm', cursive;
	text-align:center;
	font-weight:700;
	font-size:40px;
	letter-spacing:5px;
	padding: 5px;
	color: #0000FF;
	width:50%;
	height:100px;
	float: left;
}
#data
{
	font-family: 'Anton', sans-serif;
	letter-spacing:3px;
	color: #009900;
	text-align:center;
	padding: 5px;
	line-height:300%;
	font-size:20px;
	width:23%;
	height:50px;
	float: left;
}
.czujniki{
    display: table;
    list-style: none;
    border-spacing: 20px;
  
    }
.czujniki li{
	
	display: table-row;
	background-color:#6699FF;
	opacity:0.8;
	cursor:pointer;
	transition: all .3s ease-in-out;
	
}
.czujniki li a
{
	padding:24px;
	display: table-cell;
	font-size:30px;
	color:#CC0000;
	text-align:center;
        line-height:150%;
}
.czujniki li a:hover
{
	background-color:#4477DD;
	-webkit-box-shadow: 5px 5px 67px 1px rgba(5,21,102,1);
    -moz-box-shadow: 5px 5px 67px 1px rgba(5,21,102,1);
    box-shadow: 5px 5px 67px 1px rgba(5,21,102,1);
	color:#CC3300;
}
#stopka
{
	text-align:center;
}
a.poprawka
{
	display:block;
	color:#CC0000;
	height:80px;
	width: 390px;
	text-decoration:none;
	
}
#odczytGlowny
{
	font-family: 'Aleo', serif;
	font-size:30px;
	color:#CC0000;
	text-align:center;
	line-height:200%;
        padding:20px;
	height:65%;
	width: 50%;
	margin-top:80px;
	margin-bottom:80px;
	margin-left:auto;
	margin-right:auto;
	background-color:#6699FF;
	opacity:0.8;
	transition: all .3s ease-in-out;
}
#odczytCzujnik
{
	font-family: 'Aleo', serif;
	font-size:30px;
	color:#CC0000;
	text-align:center;
	line-height:250%;
	letter-spacing:3px;
	padding:15px;
	height:30%;
	width: 60%;
	margin-top:80px;
	margin-bottom:80px;
	margin-left:auto;
	margin-right:auto;
	background-color:#6699FF;
	opacity:0.8;
	transition: all .3s ease-in-out;
}
#wyniki
{
	font-family: 'Aleo', serif;
	font-size:30px;
	color:#CC0000;
	text-align:center;
	line-height:250%;
	padding:15px;
	height:13%;
	width: 60%;
	margin-top:80px;
	margin-bottom:80px;
	margin-left:auto;
	margin-right:auto;
	background-color:#6699FF;
	opacity:0.8;
	transition: all .3s ease-in-out;
}